{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": ['off'],
    "linebreak-style": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-unresolved": ['error', { caseSensitive: false }]
  },
  "env": {
    "browser": true
  }
}
